<div class="row">
  <div class="eight columns">
    <h5>Swapping Schedule</h5>
  </div>
  <% if @is_admin %>
    <div class="three columns">
      <p class="add-weeks-link"><%= fa_icon "plus" %> Add weeks</p>
      <div class="add-weeks-form" style="display:none;">
        <%= form_for(@week, url: group_weeks_path(@group.name)) do |f| %>

          <%= render partial: "shared/alerts" %> 

          <%= hidden_field_tag :add, "true" %>
          <%= f.hidden_field :swap_date, value: @group.weeks.last.swap_date %>

          <%= label_tag :number_of_weeks, "Number of weeks" , class: "field-label" %>
          <%= number_field_tag :number_of_weeks %>

          <%= submit_tag "Add" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="u-full-width">
    <div class="scroller" <%= "data-current-week-index=#{@this_week_index}" %>>
      <% @weeks.each_with_index do |week, index| %>
        <div class="week-card">
          <%= render partial: "weeks/week_card", locals: { week: week, group: @group } %> 
        </div>
      <% end %>
    </div>

    <div class="slider-arrows">
      <div class="weeks-arrow-right"><span class="fa fa-angle-right"></span></div>
      <div class="weeks-arrow-left"><span class="fa fa-angle-left"></span></div>
    </div>

  </div>
</div>
