<h5>Week of <%= (week.start_date).strftime("%m/%d") %></h5>

<% if week.paused %>
  <h6><%= fa_icon "exclamation-circle" %>  Swap paused</h6>
<% end %>

<% if @is_admin %>

  <%= form_for(week, url: group_week_path(@group.name, week), method: :put) do |f| %>

    <%= render partial: "shared/alerts" %> 

    <%= f.label :swap_date, class: "field-label" %>
    <%= f.date_field :swap_date %>

    <%= f.label :swap_location, class: "field-label" %>
    <%= f.text_field :swap_location %>

    <%= f.label :swap_time, class: "field-label" %>
    <%= f.text_field :swap_time %>

    <%= f.label :paused do %>
      <%= f.check_box :paused %>
      <span class="field-label">Pause this week's swap</span>
    <% end %>
    <br>

    <%= f.submit "Update week" %>
  <% end %>

<% else %>
  <p class="meal-details">Swappin time: <%= @week.swap_time %> on <%= (week.swap_date).strftime("%A %m/%d") %></p>
  <p class="meal-details">Swap destination: <%= week.swap_location %></p>

<% end %>

<h5>The meals</h5>

<%= render partial: "home/swapboard_week_list", locals: { week: week } %>
