<div class="container">
  <div class="row">
    <div class="ten columns">
      <h5><%= @group.name %> Swapping Schedule</h5>
    </div>
    <div class="two columns">
      <%= render partial: "shared/swapboard_link", locals: { group: @group } %>
    </div>
  </div>
  <div class="row">
    <div class="u-full-width">

      <p># of schedule weeks: <%= @group.weeks.count %></p>

      <div class="scroller" <%= "data-current-week-index=#{@this_week_index}" %>>
        <% @weeks.each_with_index do |week, index| %>
          <div class="week-card">
            <p>Week of <%= (week.start_date).strftime("%m/%d") %></p>
            <p>Swap date: <%= (week.swap_date).strftime("%m/%d") %></p>
            <p><%= link_to 'Week details', group_week_path(@group.name, week) %></p>
          </div>
        <% end %>
      </div>

    </div>
  </div>
  <% if @is_admin %>
    <div class="row">
      <div class="u-full-width">
        <p class="add-weeks-link"><%= fa_icon "plus" %> Add weeks</p>
        <div class="add-weeks-form">
          <%= form_for(@week, url: group_weeks_path(@group.name)) do |f| %>

            <%= hidden_field_tag :add, "true" %>
            <%= f.hidden_field :start_date, value: @group.weeks.last.start_date + 7 %>
            <%= f.hidden_field :swap_date, value: @group.weeks.last.swap_date %>
            <%= f.hidden_field :swap_location, value: @group.weeks.last.swap_location %>

            <%= label_tag :number_of_weeks %>
            <%= number_field_tag :number_of_weeks %>

            <%= submit_tag "Add" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>