<div class="container">
  <%= render partial: "shared/toolbar", locals: { group: @group } %>
  <div class="row">
    <div class="ten columns">
      <h3><%= @group.name %> Swapping Schedule</h3>
    </div>
    <div class="two columns">
    </div>
  </div>
  <div class="row">
    <div class="u-full-width">
      <div class="scroller" <%= "data-current-week-index=#{@this_week_index}" %>>
        <% @weeks.each_with_index do |week, index| %>
          <div class="week-card">
            <p>Week of <%= (week.start_date).strftime("%m/%d") %></p>
            <p>Swappin at <%= week.swap_time %>, <%= (week.swap_date).strftime("%A %m/%d") %></p>
            <p><%= link_to 'Week details', group_week_path(@group.name, week) %></p>
          </div>
        <% end %>
      </div>

      <div class="slider-arrows">
        <div class="weeks-arrow-right"><span class="fa fa-angle-right"></span></div>
        <div class="weeks-arrow-left"><span class="fa fa-angle-left"></span></div>
      </div>

    </div>
  </div>
  <% if @is_admin %>
    <div class="row">
      <div class="u-full-width">
        <p class="add-weeks-link"><%= fa_icon "plus" %> Add weeks</p>
        <div class="add-weeks-form">
          <%= form_for(@week, url: group_weeks_path(@group.name)) do |f| %>

            <%= hidden_field_tag :add, "true" %>
            <%= f.hidden_field :swap_date, value: @group.weeks.last.swap_date %>

            <%= label_tag :number_of_weeks %>
            <%= number_field_tag :number_of_weeks %>

            <%= submit_tag "Add" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>