<div class="container">

  <div class="row">
    <div class="ten columns">
      <h3>Create a schedule</h3>
    </div>
    <div class="two columns">
      <%= render partial: "shared/swapboard_link", locals: { group: @group } %>
    </div>
  </div>

  <div class="row">
    <div class="u-full-width">

      <p>“Don’t worry, swapper. You can update these details later if necessary.”</p>

      <% if flash[:alert] %>
        <div class="alert alert-danger"><%= flash[:alert] %></div>
      <% end %>

      <%= form_for(@week, url: group_weeks_path(@group.name)) do |f| %>

        <div class="field">
          <%= f.label :start_date, "1st week of swapping" %>
          <%= f.date_field :start_date %>
        </div>

        <div class="field">
          <%= label_tag :number_of_weeks %>
          <%= number_field_tag :number_of_weeks %>
        </div>

        <div class="field">
          <%= f.label :swap_location, %>
          <%= f.text_field :swap_location %>
        </div>
        
        <div class="checkbox-area">
          <p>Swap day</p>
            <% @days.each do |day| %>
            <div class="radio-area">
                <%= label_tag :swap_date, day, class: "radio-label" %>
                <%= f.radio_button(:swap_date, day, class: "radio-button") %>
            </div>
            <% end %>
        </div>

        <div class="actions">
          <%= submit_tag "Create schedule" %>
        </div>

      <% end %>
    </div>
  </div>
</div>