<div class="container">
  <%= render partial: "shared/toolbar", locals: { group: @group } %>
  <div class="row">
    <div class="ten columns">
      <h3><%= "#{@group.name}'s Week of #{ @week.start_date.strftime("%m/%d/%Y") }" %></h3>
    </div>
  <div class="row">
    <div class="six columns boardered">

    <% if @is_admin %>

      <% if flash[:alert] %>
        <div class="alert alert-danger"><%= flash[:alert] %></div>
      <% end %>

      <%= form_for(@week, url: group_week_path(@group.name, @week), method: :put) do |f| %>

        <%= f.label :swap_date %>
        <%= f.date_field :swap_date %>

        <%= f.label :swap_location %>
        <%= f.text_field :swap_location %>

        <%= f.label :swap_time %>
        <%= f.text_field :swap_time %>

        <%= f.label :paused do %>
          <%= f.check_box :paused %>
          <span>Pause this week's swap</span>
        <% end %>
        <br>

        <%= f.submit "Update week" %>
      <% end %>

    <% else %>
      <p>Swap Date: <%= @week.swap_date %></p>
      <p>Swap Location: <%= @week.swap_location %></p>
    <% end %>

    </div>

    <div class="six columns boardered">
      <h5>My meal</h5>
      <% if @user_meal %>
        <p><%= @user_meal.name %> (<%= @user_meal.category.name %>) </p>
        <% unless @user_meal.recipe_url == "" || @user_meal.recipe_url.nil? %>
          <p><%= link_to "Recipe", @user_meal.recipe_url, :target => "_blank" %></p>
        <% end %>
       <p><%= link_to "More meal details", group_week_meal_path(@group.name, @week, @user_meal) %></p>
      <% else %>
        <%= link_to "Add my meal", new_group_week_meal_path(@group.name, @week) %>
      <% end %>
    </div>


    <div class="six columns all-meals">
      <div class="">
        <h5>All meals this week</h5>
        <%= render partial: "home/swapboard_week_list", locals: { week: @week } %>
      </div>
    </div>
  </div>
</div>