<div class="container">
  <div class="row">
    <div class="u-full-width">

    <h3><%= "#{@group.name}'s Week of #{ @week.start_date.strftime("%m/%d/%Y") }" %></h3>

    <% if @is_admin %>

      <% if flash[:alert] %>
        <div class="alert alert-danger"><%= flash[:alert] %></div>
      <% end %>

      <%= form_for(@week, url: group_week_path(@group.name, @week), method: :put) do |f| %>

        <%= f.label :swap_date %>
        <%= f.date_field :swap_date %>

        <%= f.label :swap_location %>
        <%= f.text_field :swap_location %>

        <%= f.label :paused do %>
          <%= f.check_box :paused %>
          <span>Pause this week's swap</span>
        <% end %>
        <br>

        <%= f.submit "Update week" %>
      <% end %>

    <% else %>
      <p>Swap Date: <%= @week.swap_date %></p>
      <p>Swap Location: <%= @week.swap_location %></p>
    <% end %>

    <% if @user_meal %>
      <p>My meal:</p>
      <p><%= @user_meal.name %></p>
      <p><%= link_to "Meal Details", group_week_meal_path(@group.name, @week, @user_meal) %></p>
    <% else %>
      <%= link_to "Add my meal", new_group_week_meal_path(@group.name, @week) %>
    <% end %>


    <p>Other meals:</p>
    <%= render "meal_list", collection: @list_users %>
    </div>
  </div>
</div>