<div class="container">
  <div class="row">
    <div class="u-full-width">

      <h3>Group Settings</h3>
      <p><%= @group.name %></p>

      <% if flash[:alert] %>
        <div class="alert alert-danger"><%= flash[:alert] %></div>
      <% end %>

      <%= form_for(@group, url: group_path(@group.name)) do |f| %>

        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true %>

        <%= f.label :budget %>
        <%= f.number_field :budget, autofocus: true %>

        <%= f.label :max_participants %>
        <%= f.number_field :max_participants, autofocus: true %></br>

        <%= f.submit "Update group" %>
      <% end %>

    </div>
  </div>
</div>