<div class="container">
  <div class="row">
    <div class="u-full-width">

      <h3>Nobody swaps alone. Start a group here.</h3>

      <% if flash[:alert] %>
        <div class="alert alert-danger"><%= flash[:alert] %></div>
      <% end %>

      <%= form_for(@group) do |f| %>

        <div class="field">
          <%= f.label :name %>
          <%= f.text_field :name, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :budget %>
          <%= f.number_field :budget, autofocus: true %>
        </div>

        <div class="actions">
          <%= f.submit "Create group" %>
        </div>
      <% end %>

    </div>
  </div>
</div>