<div class="container">
  <div class="row">
    <div class="u-full-width">

      <h3>Nobody swaps alone. Start a group here.</h3>

      <%= form_for(@group) do |f| %>

        <%= render partial: "shared/alerts" %> 

        <div class="field">
          <%= f.label :name %>
          <%= f.text_field :name, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :budget %>
          <%= f.number_field :budget, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :container %>
          <%= f.select :container_id, @containers, {include_blank: true} %>
        </div>

        <div class="actions">
          <%= f.submit "Create group" %>
        </div>
      <% end %>

    </div>
  </div>
</div>