<div class="container">
  <%= render partial: "shared/toolbar", locals: { group: @group } %>
  <div class="row">
    <div class="eight columns">
      <h3><%= @group.name %></h3>
    </div>
    <div class="three columns">
      <% if @group.admin == current_user.id %>
        <%= link_to group_members_path(@group.name) do %>
        <p><%= fa_icon "user-plus" %> Manage swappers</p>
        <% end %>
      <% end %>
    </div>
  </div>

  <%= render partial: "weeks/calendar", locals: { group: @group } %>

  <div class="row">
  <h5>Group Settings</h5>
    <div class="u-full-width boardered group-settings">
      <% if @group.admin == current_user.id %>
        <%= render partial: "groups/edit_form", locals: { group: @group } %>
      <% else %>
        <h3><%= @group.name %></h3>
        <p>Budget: <%= number_to_currency(@group.budget) %></p>
      <% end %>
    </div>
  </div>
</div>