<div class="container">
  <%= render partial: "shared/toolbar", locals: { group: @group } %>
  <div class="row">
    <div class="eight columns">
      <h3><%= @group.name %></h3>
    </div>
    <div class="three columns">
      <% if @group.admin == current_user.id %>
        <%= link_to group_members_path(@group.name) do %>
          <p><%= fa_icon "user-plus" %> Manage swappers</p>
        <% end %>
      <% end %>

      <p><a href="#group-settings"><i class="fa fa-cog" aria-hidden="true"></i> Settings</a></p>
    </div>
  </div>

  <% if has_weeks? %>
    <%= render partial: "weeks/calendar", locals: { group: @group } %>
  <% else %>
    <% if @is_admin %>
      <p>Now you need to create your swapping schedule.</p>
      <%= link_to new_group_week_path(@group.name)  do %>
        <p><%= fa_icon "plus" %> Get started</p>
      <% end %>
    <% else %>
      <p>The schedule hasn't been created yet. Check back soon</p>
    <% end %>
  <% end %>

  <div class="row">
  <h5 id="group-settings">Group Settings</h5>
    <div class="u-full-width boardered group-settings">
      <% if @group.admin == current_user.id %>
        <%= render partial: "groups/edit_form", locals: { group: @group } %>
      <% else %>
        <h3><%= @group.name %></h3>
        <p>Budget: <%= number_to_currency(@group.budget) %></p>
      <% end %>

      <h6 class="notifcation-note"><%= fa_icon "envelope-o" %> Email Notifications</h6>
      <% if @member.email_opt %>
        <p class="notifcation-note">You are subscribed to email notifications for new meal entries and meal ratings.</p>
        <%= link_to 'Unsubscribe Me', email_opt_path(@group.name, @member, opt_status: false) %>
      <% else %>
        <p class="notifcation-note">You are not subscribed to email notifications for new meal entries and meal ratings.</p>
        <%= link_to 'Subscribe Me', email_opt_path(@group.name, @member, opt_status: true) %>
      <% end %>
      
      <% if @group.admin == current_user.id %>

        <hr>
        <p class="delete-group-link button"><%= fa_icon "exclamation-triangle" %> Delete group</p>
        <div class="delete-group-confirmation" style="display:none;">
          <p>Are you sure?</p>

          <%= link_to "Yes", group_path(@group.name), :method => "delete", class: "button float-left" %>
          <p class="delete-group-cancel button float-left"> Nevermind!</p>

        </div>
      <% end %>

    </div>
  </div>
</div>