<div class="container">
  <div class="row">
    <div class="u-full-width">

      <h3>My Profile</h3>
      <p><%= @user.email %></p>

      <% if flash[:alert] %>
        <div class="alert alert-danger"><%= flash[:alert] %></div>
      <% end %>

      <%= form_for(@user, url: profile_path(@user.id)) do |f| %>

        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :city %>
        <%= f.text_field :city %>

        <%= f.label :zip_code %>
        <%= f.text_field :zip_code %>

        <div class="checkbox-area">
          <p>Dietary Restrictions <span class="instruction-label">(Check all that apply)</span></p>
          <%= f.collection_check_boxes(:diet_restriction_ids, @diet_restrictions, :id, :name, class:"label-checkbox" ) do |b| %>
              <%=b.check_box + b.text%>
          <% end %>
        </div>

        <%= f.submit "Update profile" %>
      <% end %>

      <div class="group-list">
        <h5>Groups</h5>
        <% @user.groups.each do |group| %>
          <p><%= link_to group.name, group_path(group.name) %></p>
        <% end %>

        <%= link_to new_group_path  do %>
          <p><%= fa_icon "plus" %> Nobody swaps alone. Start a new group here.</p>
        <% end %>
      </div>

    </div>
  </div>
</div>