<div class="container">
  <div class="row">
    <div class="u-full-width">

      <h3>My Profile</h3>
      <%= image_tag @user.avatar.url(:thumb), width: '50', class: 'img-circle' %>
      <p><%= @user.email %></p>
        

      <% if flash[:alert] %>
        <div class="alert alert-danger"><%= flash[:alert] %></div>
      <% end %>

      <%= form_for(@user, url: profile_path(@user.id), multipart: true) do |f| %>

        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :description, 'Tell us about yourself' %>
        <%= f.text_area :description %>

        <%= f.label :avatar, "Photo" %>
        <%= image_tag @user.avatar.url(:thumb), width: '50' %>
        <%= f.file_field :avatar %>

        <div class="checkbox-area">
          <p>Dietary Restrictions <span class="instruction-label">(Check all that apply)</span></p>
            <%= f.collection_check_boxes(:diet_restriction_ids, @diet_restrictions, :id, :name, class:"label-checkbox" ) do |b| %>
                <%=b.check_box + b.text%>
            <% end %>
        </div>

        <%= f.submit "Update profile" %>
      <% end %>

      <div class="group-list">
        <h5>Groups</h5>
        <% @user.groups.each do |group| %>
          <p><%= link_to group.name, group_path(group.name) %></p>
        <% end %>

        <%= link_to new_group_path  do %>
          <p><%= fa_icon "plus" %> Nobody swaps alone. Start a new group here.</p>
        <% end %>
      </div>

    </div>

      <div>
        <h5>My Meals</h5>
        <% @user.meals.each do |meal| %>
          <p><%= meal.name %> | <%= link_to "Meal details", group_week_meal_path(meal.week.group.name, meal.week.id, meal.id) %></p>
        <% end %>

      </div>

    </div>
  </div>
</div>