<div class="container">
  <div class="row">
    <div class="u-full-width boardered">

      <h5>Please finish filling out your profile to continue</h5>
      <p><%= @user.email %></p>

      <%= form_for(@user, url: complete_profile_update_path(@user)) do |f| %>

       <%= render partial: "shared/alerts" %> 

        <%= f.hidden_field :temporary %>
        <%= f.hidden_field :id %>

        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "off" %>

        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "off" %>

        <%= f.submit "Complete profile" %>
      <% end %>

    </div>
  </div>
</div>