<div id="menu">
  <div class="row">
    <div class="u-full-width">
      <%= link_to root_path, {class: "clean-link"} do %>
        <%= image_tag("icon-svg/cutlery-1.svg", class: "logo-img", alt: "CrockSwap") %>
      <% end %>
      <span class="nav-name">CrockSwap</span>
      <ul class="u-pull-right nav-links">
        <% if current_user %>
          <li class="u-pull-right"><%= link_to "My profile", edit_profile_path(current_user) %></li>
          <li class="u-pull-right"><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
        <% else %>
          <li class="u-pull-right"><%= link_to "Sign in", new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
