<nav class="fixed-nav-bar">
  <div class="row">
    <div class="u-full-width">
      <div id="menu" class="menu">
        <%= link_to root_path, { class: "clean-link" } do %>
          <span class="sitename">Crockswap</span>
        <% end %>
        <a class="hamburger">
          <%= fa_icon "align-justify" %>
        </a>
        <ul class="menu-items u-pull-right">
          <% if current_user %>
            <li class="username">Hello <%= current_user.name %></li>
            <% if current_user.groups.count > 1 %>
              <li><%= link_to "Swapboards", groups_path %></li>
            <% else %>
              <li><%= link_to "Swapboard", user_root_path %></li>
            <% end %>
            <li><%= link_to "Profile", edit_profile_path(current_user) %></li>
            <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
          <% else %>
            <li><%= link_to "Sign in", new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</nav>