<nav class="fixed-nav-bar">
  <div class="row">
    <div class="u-full-width">

      <div class="title">
        <%= link_to root_path, {class: "clean-link"} do %>
          <span class="sitename">Crockswaps</span>
        <% end %>
      </div>

      <div class="menu_2">        
        <!-- <div class="title hamburger">Menu</div> -->
        <!-- <ul class="menu-items u-pull-right"> -->
        <ul>
          <% if current_user %>
            <li class="username">Hello <%= current_user.name %></li>
            <li><%= link_to "Swapboard", user_root_path %></li>
            <li><%= link_to "My profile", edit_profile_path(current_user) %></li>
            <li><%= link_to "My groups", groups_path %></li>
            <li><%= link_to "Add group", new_group_path %></li>
            <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
          <% else %>
            <li><%= link_to "Sign in", new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</nav>