<nav class="fixed-nav-bar">
  <div class="row">
    <div class="u-full-width">
      <div id="menu" class="menu">
        <%= link_to root_path, {class: "clean-link"} do %>
          <span class="sitename">Crockswap</span>
        <% end %>
        <a class="show" href="#menu"><%= fa_icon "align-justify" %></a><a class="hide" href="#hidemenu"><%= fa_icon "align-justify" %></a>
        <ul class="menu-items u-pull-right">
          <% if current_user %>
            <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
            <li><%= link_to "My profile", edit_profile_path(current_user) %></li>
            <li><%= link_to "Dashboard", user_root_path %></li>
            <li><%= link_to "Add group", new_groups_path %></li>
          <% else %>
            <li><%= link_to "Sign in", new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</nav>