<div class="row">
  <div class="u-full-width">
    <h4><%= @group.name %> Swapboard</h4>
    <% if @group.weeks.empty? %>
      <p>Now you need to create your swapping schedule.</p>
      <%= link_to new_group_week_path(@group.name)  do %>
        <p><%= fa_icon "plus" %> Get started</p>
      <% end %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="six columns">
    <%= render partial: "home/this_week", locals: {group: @group} %>
    <%= render partial: "home/swap_vitals", locals: {group: @group} %>
    <%= render partial: "home/next_week", locals: {group: @group} %>
  </div>

  <div class="six columns">
    <%= render partial: "home/last_week", locals: {group: @group} %>
    <%= render partial: "home/leaderboard", locals: {group: @group} %>
    <%= render partial: "home/search_recipes" %>
  </div>
</div>