<div class="row">
  <div class="u-full-width">
    <div class="row">
      <div class="six columns">
        <h4><%= @group.name %> Swapboard</h4>
      </div>

      <div class="six columns">
        <% if @group.weeks.empty? && @is_admin %>
          <p>Now you need to create your swapping schedule.</p>
          <%= link_to new_group_week_path(@group.name)  do %>
            <p><%= fa_icon "plus" %> Get started</p>
          <% end %>
        <% elsif @group.weeks.empty? && !@is_admin %>
          <p>The schedule hasn't been created yet. Check back soon</p>
        <% end %>

        <% if @group.members.count == 1 && @is_admin %>
          <p>You need to invite some more swappers!</p>
          <%= link_to group_members_path(@group.name) do %>
            <p><%= fa_icon "users" %> Add swappers</p>
          <% end %>
        <% end %>
      </div>
    </div>

    <% unless @group.weeks.empty? %>
      <div class="row">
        <div class="six columns">
          <% if @group.current_week %>
            <%= render partial: "home/swapboard_week_list", locals: { week: @group.current_week, header: "Current Week" } %>
          <% else %>
            <%= render partial: "home/empty_week" %>
          <% end %>
          <% if @group.next_week %>
            <%= render partial: "home/swapboard_week_list", locals: { week: @group.next_week, header: "Next Week" } %>
          <% else %>
            <%= render partial: "home/empty_week" %>
          <% end %>
        </div>

        <div class="six columns">
          <% if @group.last_week %>
            <%= render partial: "home/swapboard_week_list", locals: { week: @group.last_week, header: "Last Week" } %>
          <% else %>
            <%= render partial: "home/empty_week" %>
          <% end %>
          <%= render partial: "home/leaderboard" %>
        </div>
      </div>
    <% end %>
  </div>
</div>