<% unless local_assigns[:header].nil? %>
  <h6><%= header %> - Week of <%= week.start_date.strftime("%m/%d") %> </h6>
<% end %>

<div class="dashboard-table this-week">
    <div class="dashboard-table-row">
      <div class="dashboard-table-cell header">Swapper</div>
      <div class="dashboard-table-cell header">Dish</div>
      <div class="dashboard-table-cell header">Category</div>
    </div>
  <% if week.paused %>

  <div class="dashboard-table-row empty-week">
    <div class="dashboard-table-cell empty-week">
      <span class="paused"><%= fa_icon "exclamation-circle" %> Swap paused</span>
      </div>
    <div class="dashboard-table-cell empty-week"></div>
    <div class="dashboard-table-cell empty-week"></div>
  </div>

  <% else %>
    <% @group.active_users.each do |member| %>
      <div class="dashboard-table-row">
        <div class="dashboard-table-cell above-rating-row">
          <%= link_to group_member_path(@group.name, member) do %>
              <%= member.name %>
          <% end %>
        </div>
        <div class="dashboard-table-cell above-rating-row">
          <% @week_meal = member.week_meal(week) %>
          <% if @week_meal && @week_meal.name.presence %>
            <%= image_tag @week_meal.picture.url(:thumb), width: '25', class: 'img-circle profile-img' %>
            <%= link_to group_week_meal_path(@group.name, week, @week_meal) do %>
              <%= @week_meal.name %>
            <% end %>
          <% elsif member == current_user %>
              <%= link_to "Add my meal", new_group_week_meal_path(@group.name, week) %>
          <% else %>
            ???
          <% end %>
        </div>
        <div class="dashboard-table-cell above-rating-row">
          <% if @week_meal && @week_meal.category.presence %>
            <%= @week_meal.category.name %> 
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
