<div class="dashboard-table this-week">
    <div class="dashboard-table-row">
      <div class="dashboard-table-cell header">Swapper</div>
      <div class="dashboard-table-cell header">Dish</div>
      <div class="dashboard-table-cell header">Category</div>
      <div class="dashboard-table-cell header">Rating</div>
    </div>
  <% @group.active_users.each do |member| %>
    <div class="dashboard-table-row">
      <div class="dashboard-table-cell"><%= member.name %></div>
      <div class="dashboard-table-cell">
        <% if member.week_meal(week) && member.week_meal(week).name.presence %>
          <%= member.week_meal(week).name %> 
        <% else %>
            ???
        <% end %>
      </div>
      <div class="dashboard-table-cell">
        <% if member.week_meal(week) && member.week_meal(week).category.presence %>
          <%= member.week_meal(week).category.name %> 
        <% end %>
      </div>
      <div class="dashboard-table-cell">
        <% if member.week_meal(week) && member.week_meal(week).name.presence && week.is_past? %>
          <%= rating_for member.week_meal(week), 'rating' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class="swapboard-week-links">
  <%= link_to "Week details", group_week_path(@group.name, week.id) %>
</div>
