<div class="row center-content homepage-frame">
  <div class="u-full-width">
    <%= image_tag "icon-only-black-small.jpg", width: "300" %>
    <p class="crockswap">Crockswap</p>
    <p class="medium tag-line">Spend less. Cook once. Eat all week.</p>
    <p class="medium">Nobody swaps alone.</p>
    <%= link_to "Start a group here", new_user_registration_path, {class: "button homepage-sign-up"} %>
    <p class='sign-in'>or</p>
    <p class='sign-in'><%= link_to "Sign in", new_user_session_path %></p>
  </div>
</div>

<div class="row center-content about-frame">
  <div>
    <p class="medium homepage-copy-block">Crockswap facilitates meal sharing for working families who can't find the time to shop frugally, cook efficiently, and eat healthily.</p>
    <p>Steps to a Swap</p>

    <div class="container">
      <div class="row">
        <div class="four columns about-steps">
          <%= fa_icon "users 3x" %>
          <p>Start a group</p>
        </div>
        <div class="four columns about-steps">
          <%= fa_icon "shopping-basket 3x" %>
          <p>Shop</p>
        </div>
        <div class="four columns about-steps">
          <%= fa_icon "flask 3x" %>
          <p>Cook</p>
        </div>
      </div>

      <div class="row">
        <div class="six columns about-steps">
          <%= fa_icon "hand-peace-o 3x" %>
          <p>Swap</p>
        </div>
        <div class="six columns about-steps">
          <%= fa_icon "cutlery 3x" %>
          <p>Eat</p>
        </div>
      </div>
    </div>

  </div>
</div>