<div class="container">
  <div class="row">
    <div class="u-full-width">
      <% unless @groups.empty? %>
        <%= render "home/swapboard_partial", object: @group %>
      <% else %>
        <p>You aren't in any groups yet.</p>
      <% end %>
    </div>
  </div>
  <div class="u-full-width">
    <%= link_to group_path(@group.name) do %>
      <p><%= fa_icon "users" %> Group settings</p>
    <% end %>
    <%= link_to new_group_path  do %>
      <p><%= fa_icon "plus" %> Nobody swaps alone. Start a new group here.</p>
    <% end %>
  </div>
</div>