<%= render partial: "shared/alerts" %> 

<div class="field">
  <%= f.label :name, class: "field-label" %>
  <%= f.text_field :name %>
</div>

<div class="field">
  <%= f.label :recipe_url, class: "field-label" %>
  <%= f.text_field :recipe_url %>
</div>

<div class="field">
  <%= f.label :instructions, class: "field-label" %>
  <%= f.text_area :instructions %>
</div>

<div class="field">
  <%= f.label :accompaniments, "Recommended Accompaniments", class: "field-label" %>
  <%= f.text_area :accompaniments %>
</div>

<div class="field">
  <%= f.label :picture, "Picture", class: "field-label" %>
  <%= image_tag @meal.picture.url(:medium), width: '300' %>
  <%= f.file_field :picture, accept: "image/*" %>
</div>