<%= render partial: "shared/alerts" %> 

<div class="field">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>

<div class="field">
  <%= f.label :recipe_url %>
  <%= f.text_field :recipe_url %>
</div>

<div class="field">
  <%= f.label :instructions %>
  <%= f.text_area :instructions %>
</div>

<div class="field">
  <%= f.label :accompaniments, "Recommended Accompaniments" %>
  <%= f.text_area :accompaniments %>
</div>