<div class="container">
  <div class="row">
    <div class="u-full-width">

      <h3>Add your meal</h3>

      <% if flash[:alert] %>
        <div class="alert alert-danger"><%= flash[:alert] %></div>
      <% end %>

      <%= form_for([@group, @week, @meal]) do |f| %>

        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true %>

        <%= f.submit "Create meal" %>
      <% end %>

    </div>
  </div>
</div>