<div class="container">
  <%= render partial: "shared/toolbar", locals: { group: @group } %>

  <h3>Add my meal</h3>
  <div class="row">
    <div class="u-full-width boardered">

      <%= form_for([@group, @week, @meal]) do |f| %>

        <div class="field">
          <%= f.label :category %>
          <%= f.select "meal_category_id", options_from_collection_for_select(@week.available_categories, "id", "name"), include_blank: "Select"  %>
        </div>

        <%= render partial: "form", locals: { f: f }%>

        <div class="actions">
          <%= f.submit "Add meal" %>
        </div>
      <% end %>

    </div>
  </div>
</div>