<div class="container">
  <h3>Your meal</h3>
  <div class="row">
    <div class="seven columns">


      <% if flash[:alert] %>
        <div class="alert alert-danger"><%= flash[:alert] %></div>
      <% end %>

      <%= form_for([@group, @week, @meal]) do |f| %>

        <%= render partial: "form", locals: { f: f }%>

        <div class="actions">
          <%= f.submit "Edit meal" %>
        </div>
      <% end %>
    </div>

    <div class="five columns">
      <p>Other meals this week:</p>
      <%= render partial: "weeks/meal_list", collection: @list_users %>
    </div>
  </div>
</div>