<div class="container">
  <%= render partial: "shared/toolbar", locals: { group: @group } %>

  <div class="row">
    <div class="six columns">
      <h3>My meal</h3>
    </div>
    <div class="six columns">
      <%= link_to group_week_path(@group.name, @week) do %>
        <%= fa_icon "calendar" %> Week details
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="six columns boardered">

      <%= form_for([@group, @week, @meal]) do |f| %>

        <div class="field">
          <%= f.label :category %>
          <%= f.select "meal_category_id", options_from_collection_for_select(@meal_categories, "id", "name", @meal.category.id) %>
        </div>

        <%= render partial: "form", locals: { f: f }%>

        <div class="actions">
          <%= f.submit "Edit meal" %>
        </div>
      <% end %>
    </div>

    <div class="six columns">
      <h5>Other meals this week:</h5>
      <%= render partial: "home/swapboard_week_list", locals: { week: @week } %>
    </div>
  </div>
</div>