<div class="container">
  <%= render partial: "shared/toolbar", locals: { group: @group } %>
  <h3>My meal</h3>
  <div class="row">
    <div class="six columns boardered">

      <% if flash[:alert] %>
        <div class="alert alert-danger"><%= flash[:alert] %></div>
      <% end %>

      <%= form_for([@group, @week, @meal]) do |f| %>

        <%= render partial: "form", locals: { f: f }%>

        <div class="actions">
          <%= f.submit "Edit meal" %>
        </div>
      <% end %>
    </div>

    <div class="six columns boardered">
      <h5>Other meals this week:</h5>
      <%= render partial: "home/swapboard_week_list", locals: { week: @week } %>
    </div>
  </div>
</div>