<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Heads up, <%= @user.name %>!</h1>
    <hr>
    <p>Someone in your swap just entered a dish. Yum.</p>
    <p><%= @meal.name %></p>
    <% if @meal.picture.exists? %>
      <%= image_tag @meal.picture.url(:medium), width: '300' %>
    <% end %>
    <p></p>
    <%= link_to 'Check it out here', group_week_meal_url(@group.name, @meal.week_id, @meal) %>
    <hr>
    <p>-Crockswap</p>

    <hr>
    <p>If you don't want to get these email notifications visit this link:</p>
    <%= link_to 'Unsubscribe Me', email_opt_url(@group.name, @member, opt_status: false) %>
  </body>
</html>