<!DOCTYPE html>
<html>
<head>
  <title>Crockswap</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'fav.ico' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>

  <%= render "shared/sticky_nav", object: current_user %>

  <div id="content" class="container">
    <%= yield %>
  </div>

    <%= render "shared/footer" %>

</body>
</html>
