<!DOCTYPE html>
<html>
<head>
  <title>Crockswap</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'fav.ico' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body <%= "id=#{controller_name}_controller class=#{params[:action] || 'unknown'}-action" %> >

  <%= render "shared/sticky_nav", object: current_user %>

  <div id="content">
    <%= yield %>
  </div>

    <%= render "shared/footer" %>

</body>
</html>
