<div class="container">
  <%= render partial: "shared/toolbar", locals: { group: @group } %>
  <h3><%= @group.name %> Members</h3>
  <div class="row">
    <div class="six columns">
      <div class="dashboard-table">
        <div class="dashboard-table-row">
          <div class="dashboard-table-cell header">Swapper</div>
          <div class="dashboard-table-cell header">Status</div>
        </div>
        <% @members.each do |member| %>
        <div class="dashboard-table-row">
          <div class="dashboard-table-cell">
            <% if member.user_id == current_user.id %>
              You
            <% else %>
              <%= member.user.name %>
          <% end %>
          </div>
          <div class="dashboard-table-cell">
            <%= member.status %>
            <% if member.status == "Pending" %>
              | <%= link_to "Cancel invite", group_member_path(@group.name, member), :method => :delete, class: "cancel-link" %>
            <% end %>
          </div>
        </div>
        <% end %>
      </div>
    </div>

    <div class="six columns">
      <div class="new-swapper-form boardered">
        <h5>Invite a Swapmate</h5>

        <%= form_tag(group_members_path(@group.name), method: "post") do %>
        
          <%= render partial: "shared/alerts" %> 

          <%= label_tag "Name" %>
          <%= text_field :user, :name %>

          <%= label_tag "Email Address" %>
          <%= text_field :user, :email %>

          <br>
          <%= submit_tag "Send invite" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
