<div class="container">
  <%= render partial: "shared/toolbar", locals: { group: @group } %>
  <div class="row">
    <div class="ten columns">

      <h3><%= @group.name %> Members</h3>
      <ol>
        <% @members.each do |member| %>
          <% if member.user_id == current_user.id %>
            <li>You</li>
          <% else %>
            <li><%= member.user.name %>: <%= member.status %></li>
            <% if member.status == "Pending" %>
              <%= link_to "Cancel invite", group_member_path(@group.name, member), :method => :delete %>
            <% end %>
          <% end %>
        <% end %>
      </ol>

      <div class="new-swapper-form">
        <h5>Invite a Swapmate</h5>

        <% if flash[:alert] %>
          <div class="alert alert-danger"><%= flash[:alert] %></div>
        <% end %>

        <%= form_tag(group_members_path(@group.name), method: "post") do %>

          <%= label_tag "Name" %>
          <%= text_field :user, :name %>

          <%= label_tag "Email Address" %>
          <%= text_field :user, :email %>

          <br>
          <%= submit_tag "Send invite" %>
        <% end %>
      </div>
    </div>
    <div class="two columns">
      <%= render partial: "shared/toolbar", locals: { group: @group } %>
      <p><%= link_to "Group settings", group_path(@group.name) %></p>
    </div>
  </div>
</div>